PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/hireflow
JWT_ACCESS_SECRET=your_access_secret_should_be_at_least_64_characters_long_for_security
JWT_REFRESH_SECRET=your_refresh_secret_should_be_at_least_64_characters_long_for_security
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password
CLIENT_URL=http://localhost:5173
NODE_ENV=development
